<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#010101">
	<meta name="robots" content="noindex, nofollow">
	<title>{% block title %}Metasearch{% endblock %}</title>
	<style>
:root {
{% if dark %}
	--background-color: #111;
	--title-color: #fff;
	--main-text: #eee;
	--very-light: rgba(255,255,255,.2);
	--semi-light: rgba(255,255,255,.5);
	--result-content-color: #ccc;
{% else %}
	--background-color: #fff;
	--title-color: #000;
	--main-text: #000;
	--very-light: rgba(0,0,0,.2);
	--semi-light: rgba(0,0,0,.5);
	--result-content-color: #000;
{% endif %}
}
	</style>
	<link rel="stylesheet" href="/styles.css">
	{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>