{% extends "base.html" %}

{% block body %}
<header>
	<form action="/search" id="search-form">
		<input type="text" name="q" id="search-bar" value="{{ query }}">
	</form>
</header>
<div id="results">
	{% if answer|length > 0 %}
		<div id="answer" {% if not answer.title and not answer.template %}class="answer-no-title"{% endif %}>
			{% if answer.template %}
				{% include 'answers/' + answer.template + '.html' %}
			{% else %}
				{% set bigContent = not answer.title and answer.content.length < 20 %}
				<{% if bigContent %}h2{% else %}p{% endif %} class="result-content">{{ answer.content }}</{% if bigContent %}h2{% else %}p{% endif %}>
				
				{% if answer.url %}<a href="{{ answer.url }}">{% endif %}
					{% if answer.title %}<h3 class="result-title">{{ answer.title }}</h3>{% endif %}
					{% if answer.url %}<span class="result-url">{{ answer.url }}</h3>{% endif %}
				{% if answer.url %}</a>{% endif %}
			{% endif %}
		</div>
	{% endif %}
	{% if sidebar|length > 0 %}
		<aside id="sidebar">
			{% if sidebar.image %}<img class="sidebar-image" src="{{ sidebar.image }}">{% endif %}
			<h2 class="sidebar-title">{{ sidebar.title }}</h2>
			<p class="sidebar-content">{{ sidebar.content }}</p>
		</aside>
	{% endif %}
	{% for result in results %}
	<div class="result">
		<a href="{{ result.url }}">
			<h3 class="result-title">{{ result.title }}</h3>
			<span class="result-url">{{ result.url }}</span>
		</a>
		<p class="result-content">{{ result.content }}</p>
		<div class="result-engines">
			{% for engine in result.engines %}<span class="result-engine">{{ engine }}</span>{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

