{% extends "base.html" %}

{% block body %}
<header>
	<form action="/search" id="search-form">
		<input type="text" name="q" id="search-bar" value="{{ query }}">
	</form>
</header>
<div id="results">
	{% if answer|length > 0 %}
		<div id="answer">
			<p class="result-content">{{ answer.content }}</p>
			<a href="{{ answer.url }}">
				<h3 class="result-title">{{ answer.title }}</h3>
				<span class="result-url">{{ answer.url }}</h3>
			</a>
		</div>
	{% endif %}
	{% for result in results %}
	<div class="result">
		<a href="{{ result.url }}">
			<h3 class="result-title">{{ result.title }}</h3>
			<span class="result-url">{{ result.url }}</span>
		</a>
		<p class="result-content">{{ result.content }}</p>
		<div class="result-engines">
			{% for engine in result.engines %}<span class="result-engine">{{ engine }}</span>{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

