{% extends "base.html" %}

{% block body %}
<script>
function setTheme(theme) {
	var d = new Date()
	d.setTime(d.getTime() + (365 * 24 * 60 * 60 * 1000))
	var expires = `expires=${d.toUTCString()}`
	document.cookie = `theme=${theme};${expires};path=/`
} 

document.addEventListener('DOMContentLoaded', () => {

let themeEl = document.getElementById('theme')
themeEl.onchange = (e) => {
	setTheme(e.target.value)
	location.reload()
}

})
</script>
<label for="theme">Theme:</label>
<select name="theme" id="theme">
{% for theme, value in themes %}
  <option value="{{ theme }}"{% if activeTheme == theme %} selected{% endif %}>{{ theme|title }}</option>
{% endfor %}
</select> 
{% endblock %}

