<style>
@font-face{font-family:Minecraft;src:url(/Minecraft.otf)}
.minecraft-server-description {
	position: relative;
	white-space: pre;
	margin: 0;
	top: 8px;
	word-spacing: 4px
}
.minecraft-server-name {
	position: relative;
	color: #fff;
	margin: 0;
	top: 8px
}
.minecraft-server {
	background-image: url(/minecraft-server-background.png);
	height: 80px;
	font-family: Minecraft;
	font-size: 16px;
	font-weight: normal;
	max-width: 600px;
	position: relative
}
.minecraft-server-favicon {
	float: left;
	margin: 8px;
}
.minecraft-ping {
	position: absolute;
	right: 0;
	padding: 8px;
	z-index: 100
}
.minecraft-ping-icon {
	height: 14px;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
.minecraft-ping-display {
	display: none;
	position: absolute;
	user-select: none
}
.minecraft-ping-icon:hover ~ .minecraft-ping-display {
	position: absolute;
	display: inline-block;
	color: #fff;
	background-color: rgba(0,0,0,.9);
	padding: 2px;
	border-radius: 4px;
	border: 2px solid #205;
	outline: 2px solid #000;
	-moz-outline-radius: 8px;
	margin-top: -1.9em
}
.minecraft-playercount {
	color: #bebebe
}
.minecraft-playercount-divider {
	color: #3f3f3f
}
</style>
<div class="minecraft-server">
	<img class="minecraft-server-favicon" src="{{ answer.favicon }}">
	<span class="minecraft-ping">
		<span class="minecraft-playercount">{{ answer.players.online }}<span class="minecraft-playercount-divider">/</span>{{ answer.players.max }}</span>
		<img class="minecraft-ping-icon" src="/minecraft-ping.png" title="">
		<span class="minecraft-ping-display">{{ answer.ping }}ms</span>
	</span>
	<p class="minecraft-server-name">{{ answer.name }}</p>
	<p class="minecraft-server-description">{{ answer.descriptionHtml|safe }}</p>
</div>