<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#010101">
	<meta name="robots" content="noindex, nofollow">
	<link rel="search" type="application/opensearchdescription+xml" title="metasearch" href="https://s.matdoes.dev/opensearch.xml"/>
	<title>{% block title %}Metasearch{% endblock %}</title>
	<meta name="description" content="{% block description %}The best (meta)search engine{% endblock %}">

	<meta property="og:title" content="{% block metatitle %}{% endblock %}">
	<meta property="og:description" content="{% block metadescription %}{% endblock %}">
	<meta property="og:site_name" content="metasearch">
	<meta property="og:type" content="website"/>

	<style>
:root {
	{% for key, value in theme -%}
	--{{ key }}: {{ value }};
	{%- endfor %}
}
{%- if font == 'default' and theme.font -%}
	{%- set font = theme.font -%}
{%- endif -%}
{%- if font != 'default' -%}
body { font-family: {{ font }}, Arial, sans-serif!important }
{%- if font == 'Poppins' -%}
@font-face { font-family: Poppins; src: url("https://cdn.matdoes.dev/fonts/Poppins-latin-normal-400.woff2") format("woff2"); font-style: normal; font-weight: 400; font-display: swap; }
{%- elif font == 'Monaco' -%}
@font-face { font-family: Monaco; src: url("https://cdn.matdoes.dev/fonts/Monaco.woff") format("woff"); font-style: normal; font-weight: 400; font-display: swap; }
{% endif %}
{%- endif -%}
	</style>
	<link rel="stylesheet" href="/styles.css">
	<script>

document.addEventListener('DOMContentLoaded', () => {

const searchFormEl = document.getElementById('search-form')
const searchInputEl = document.getElementById('search-bar')
if (searchInputEl) {
const dataList = document.createElement('datalist')
searchInputEl.parentNode.insertBefore(dataList, searchInputEl.nextSibling)
dataList.id = 'autocomplete'

let query = ''

async function autoComplete(query) {
	const result = await fetch('/autocomplete?q=' + encodeURIComponent(query))
	return await result.json()
}
function getActiveOptionIndex() {
	let activeOption = dataList.getElementsByClassName('active')[0]
	if (!activeOption) return -1
	for (var i=0; (activeOption = activeOption.previousSibling); i++) {}
	return i
}
function arrowUp() {
	let options = dataList.getElementsByTagName('option')
	let activeIndex = getActiveOptionIndex()
	if (activeIndex > -1)
		options[activeIndex].classList.remove('active')
	if (activeIndex == 0) {
		searchInputEl.value = query
		return
	}
	else if (activeIndex == -1)
		activeIndex = options.length
	let selectedOption = options[(activeIndex - 1) % options.length]
	if (!selectedOption) return
	selectedOption.classList.add('active')
	searchInputEl.value = selectedOption.value
}
function arrowDown() {
	let options = dataList.getElementsByTagName('option')
	let activeIndex = getActiveOptionIndex()
	if (activeIndex > -1)
		options[activeIndex].classList.remove('active')
	let selectedOption = options[(activeIndex + 1) % (options.length)]
	if (!selectedOption) return
	selectedOption.classList.add('active')
	searchInputEl.value = selectedOption.value
}
async function autoCompleteDataList(query) {
	const results = await autoComplete(query)
	dataList.innerHTML = ''
	for (const result of results[1]) {
		const optionEl = document.createElement('option')
		optionEl.textContent = result
		optionEl.onclick = () => {
			searchInputEl.value = result
			dataList.style.display = 'none'
			searchFormEl.submit()
		}
		optionEl.onmouseover = () => {
			let activeOption = dataList.getElementsByClassName('active')[0]
			if (activeOption) activeOption.classList.remove('active')
			optionEl.classList.add('active')
		}
		optionEl.onmouseout = () => {
			optionEl.classList.remove('active')
		}
		dataList.appendChild(optionEl)
	}

	if (dataList.options.length > 0) {
		dataList.style.display = 'block'
		dataList.style.width = (searchInputEl.offsetWidth - 2) + 'px'
		dataList.style.left = searchInputEl.offsetLeft + 'px'
		searchInputEl.style.borderBottom = 'none'
		searchInputEl.style.borderBottomLeftRadius = '0'
		searchInputEl.style.borderBottomRightRadius = '0'
	} else {
		dataList.style.display = 'none';
		searchInputEl.style.borderBottom = ''
		searchInputEl.style.borderBottomLeftRadius = ''
		searchInputEl.style.borderBottomRightRadius = ''

	}
}
searchInputEl.addEventListener('input', (e) => {
	autoCompleteDataList(e.target.value)
})

searchInputEl.onfocus = function () {
	if (dataList.options.length > 0) {
		dataList.style.display = 'block';
		searchInputEl.style.borderBottom = 'none'
		searchInputEl.style.borderBottomLeftRadius = '0'
		searchInputEl.style.borderBottomRightRadius = '0'
	}
}
searchInputEl.onblur = function () {
	setTimeout(() => {
		dataList.style.display = 'none';
		searchInputEl.style.borderBottom = ''
		searchInputEl.style.borderBottomLeftRadius = ''
		searchInputEl.style.borderBottomRightRadius = ''
	}, 100)
}
window.addEventListener('resize', () => {
	dataList.style.width = (searchInputEl.offsetWidth - 2) + 'px';
	dataList.style.left = searchInputEl.offsetLeft + 'px';
})

window.addEventListener('keydown', (e) => {
	if (searchFormEl.contains(document.activeElement)) {
		switch (e.key) {
			case 'ArrowUp':
				e.preventDefault()
				arrowUp()
				return
			case 'ArrowDown':
				e.preventDefault()
				arrowDown()
				return
			default:
				if (e.key.length == 1)
					query = searchInputEl.value + e.key
		}
	}
})
}
})
	</script>
	{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>