<header>
	<a href="/"><h1 class="toplogo">Metasearch</h1></a>
	<form action="/search" id="search-form" class="search-form-left-offset" role="search">
		<input type="text" name="q" id="search-bar" placeholder="Search" value="{{ query }}" autocomplete="off">
	</form>
</header>
{# <header id="search-centered">
	<h1>Metasearch</h2>
	<form action="/search" id="search-form" role="search">
		<input type="text" name="q" id="search-bar" placeholder="Search" autocomplete="off" autofocus="autofocus" onfocus="this.select()">
	</form>
</header> #}
