{% extends "base.html" %}

{% block body %}
<span id="github-button"><a href="https://github.com/mat-1/metasearch"><img src="https://cdn.matdoes.dev/icons/github.png"></a></span>
<header><a href="/settings" class="settings-link">Settings</a></header>
<header id="search-centered">
	<h1>Metasearch</h2>
	<form action="/search" id="search-form" role="search">
		<input type="text" name="q" id="search-bar" placeholder="Search" autocomplete="off" autofocus="autofocus" onfocus="this.select()">
	</form>
</header>
<style>
header, h1, form, input, autocomplete {
	transition-duration: 500ms
}
</style>
<script>
const searchForm = document.getElementById('search-form')
const titleEl = document.getElementsByTagName('h1')[0]
const githubButtonEl = document.getElementById('github-button')
const settingsButtonEl = document.getElementsByClassName('settings-link')[0]
let autocompleteEl = document.getElementById('autocomplete')
searchForm.addEventListener('submit', () => {
	autocompleteEl = document.getElementById('autocomplete')
	document.getElementById('search-centered').classList.add('top-header')
	document.getElementById('search-centered').id = ''
	titleEl.classList.add('toplogo')
	searchForm.classList.add('search-form-left-offset')

	githubButtonEl.style.display = 'none'
	settingsButtonEl.style.display = 'none'

	if (autocompleteEl)
		autocompleteEl.style.left = '1em'
})
</script>
{% endblock %}

