{% extends "base.html" %}

{% block body %}
{% include 'header.html' %}
<script>
function setCookie(name, value) {
	var d = new Date()
	d.setTime(d.getTime() + (365 * 24 * 60 * 60 * 1000))
	var expires = `expires=${d.toUTCString()}`
	document.cookie = `${name}=${value};${expires};path=/`
} 

document.addEventListener('DOMContentLoaded', () => {

const themeEl = document.getElementById('theme')
const debugEl = document.getElementById('debugSetting')
themeEl.onchange = (e) => {
	setCookie('theme', e.target.value)
	location.reload()
}
debugEl.onchange = (e) => {
	setCookie('debug', e.target.checked)
	{# location.reload() #}
}
})
</script>
<div id="results">
	<div>
		<label for="theme">Theme:</label>
		<select name="theme" id="theme">
			{% for theme, value in themes %}
			<option value="{{ theme }}"{% if activeTheme == theme %} selected{% endif %}>{{ theme|title }}</option>
			{% endfor %}
		</select>
	</div>
	<label for="debugSetting">
		Debug mode:
		<input type="checkbox" id="debugSetting">
		<span class="checkbox"></span>
	</label>
</div>
{% endblock %}

